body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#rngBtn{
    font-size: 3em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(226, 161, 82);
    transition: background-color 0.25s;
}

#rngBtn:hover{
    background-color: rgb(243, 221, 195);
}

.labels{
    font-size: 3em;
}